<h1>Listado de Reservas</h1>

<table>
  <!-- Table header -->
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Hora de inicio</th>
      <th>Hora de finalización</th>
      <th>Materia</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= booking.date %></td>
          <td><%= booking.time_in %></td>
          <td><%= booking.time_out %></td>
          <td><%= booking.subject.name %></td>

          <td>
            <%= link_to 'Editar', edit_booking_path(booking), class: 'btn btn-warning' %>
            <%= link_to 'Eliminar', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<div>
  <%= link_to 'Volver a la lista de reservas', bookings_path %>
</div>
