<div class="div continer mt-5">
  <h1 class="m-3">My subjects</h1>
  <ul>
  <% @subjects.each do |subject| %>
    <li><%= subject.name %> <%= link_to "Ver más", subject_path(subject)%></li>
  <% end %>
</ul>
</div>

<li class="list-group-item">
<% if @subject && @subject.persisted? %>
  <%= @subject.content %>
  <%= link_to "Delete", subject_path(subject), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
</li>

<%= link_to "Crear materia", new_subject_path%></li>
