<div class="container mt-5">
  <h2 class="card-title">Nueva materia</h2>
  <br>
  <%= simple_form_for(@subject) do |f| %>
    <%= f.input :name %>
    <%= f.input :grade_subject, collection: ['1º Secundaria', '2º Secundaria', '3º Secundaria', '1º Preparatoria', '2º Preparatoria', '3º Preparatoria' ], prompt: 'Selecciona una opción' %>
    <%= f.input :description %>
    <%= f.submit "Crear materia", class: 'btn btn-primary'  %> <%= link_to "Regresar al inicio", subjects_path, class: %>
  <% end %>
</div>
gi


