
<div class="container">
  <h1>Teachers#index</h1>
  <p>Find me in app/views/teachers/index.html.erb</p>

  <div class="card-group">
    <div class="row">
      <% @user.all.each do |user| %>
        <div class="col-3">
          <div class="card mb-3" style="width: 18rem;">
            <% if user.photo.attached? %>
              <%= image_tag user.photo, class: "card-img-top", alt: "foto de perfil del profesor" %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dgwpse2wf/image/upload/v1701733180/undefined_user_rcbpiz.jpg", class: "card-img-top", alt: "falta foto de perfil del profesor" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= user.first_name %></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              <%= link_to t('.Reserva'), new_booking_path, class: "btn btn-primary mx-2", data: { turbo_frame: "modal", action: "click->modal#connect",  } %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <%= turbo_frame_tag "modal" %>



<!-- app/views/articles/index.html.erb -->
<%#= cl_image_tag("https://res.cloudinary.com/dgwpse2wf/image/upload/v1701540886/naig8e2momn4pyxt8hnh.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

