<div class="container">
  <% if @user.photo.attached? %>
    <%= image_tag @user.photo, width: 150, height: 150, alt: "foto de perfil del profesor" %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/dgwpse2wf/image/upload/v1701733180/undefined_user_rcbpiz.jpg", width: 150, height: 150, alt: "falta foto de perfil del profesor" %>
  <% end %>
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <p> Ciudad: <%= @user.city %></p>
  <p>Añadir un acerca de mí</p>

</div>

<div class="container">
  <%= turbo_frame_tag "modal" %>
  <%= link_to t('.Resevar'), new_booking_path, class: "btn btn-primary mx-2", data: { turbo_frame: "modal", action: "click->modal#connect" } %>
  <%= link_to "Calificar", new_teacher_review_path(@user), class: "btn btn-primary mx-2" %>
</div>

<%# Subjects %>
<div class="container">
  <div class="container mt-5">
    <h1 class="mb-3">Materias del Profesor</h1>
    <ul class="list-group">
      <% @subjects.each do |subject| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= subject.name %>
          <%= link_to "Ver más", subject_path(subject), class: "btn btn-info btn-sm" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%# Subjects %>
<div class="container">
  <div class="container mt-5">
    <h1 class="mb-3">Calificaciones de sus Estudiantes</h1>
    <ul class="list-group">
      <% @reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <p class="card-text"><%= review.comments %></p>
          <p class="card-title">Rating: <%= review.rating %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
