<div class="container mt-5">
  <h2 class="mb-4">Agrega tu Comentario</h2>

  <%= simple_form_for [@user, @review], url: reviews_path do |f| %>
    <div class="mb-3">
      <%= f.label :teacher, "Selecciona un profesor", class: "form-label" %>
      <%= f.association :teacher, collection: @teachers, prompt: "Seleccione un profesor", class: "form-select form-control-lg" %>
    </div>

    <div class="mb-3">
      <%= f.range_field :rating, in: 1..10, class: "form-range" %>

      <div class="d-flex justify-content-between">
        <% (1..10).each do |value| %>
          <span class="fw-bold"><%= value %></span>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.input :comments, label: "Agrega tu comentario", as: :text, input_html: { rows: 4, class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.submit "Enviar", class: "btn btn-primary btn-lg" %>
      <br>
      <%= link_to "Ir a Booking", bookings_path, class: "btn btn-secondary btn-lg" %>
    </div>
  <% end %>
</div>
