  <div class="container mt-5">
  <h2 class="mb-4">Agrege su Comentario</h2>
<br>
  <%= simple_form_for [@user, @review], url:"/reviews" do |f| %>
  <div class="mb-3">
    <%= f.input :user, label:"Profesor:", prompt: "Seleccione un profesor", class: "form-select form-control-lg"%>
  
    </div>
    <%# aca se tiene q escribir  collection y el id que se determino a teacher, ya que si lo escribo ahora me arroja error %>
    <div class="mb-3">
      <label for="rating" class="form-label">Valoración:</label>
      <input type="range" class="form-range" id="rating" name="rating" min="1" max="10">
      <div class="d-flex justify-content-between">
        <span class="fw-bold">1</span>
        <span class="fw-bold">2</span>
        <span class="fw-bold">3</span>
        <span class="fw-bold">4</span>
        <span class="fw-bold">5</span>
        <span class="fw-bold">6</span>
        <span class="fw-bold">7</span>
        <span class="fw-bold">8</span>
        <span class="fw-bold">9</span>
        <span class="fw-bold">10</span>
      </div>
    </div>
    <%# <%= f.input :rating, label: "Valoracion", as: :range, in: 1..10 %>
    <div class="mb-3">
    <%= f.input :comments, label: "Agrague su comentario", as: :text, input_html: { rows: 4, class: "form-control" } %>
    </div>
     <div class="mb-3">
    <%= f.submit"Enviar", class: "btn btn-primary btn-lg" %>
  <% end %>

</div>
